# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.cmake
*.make

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Data
*.root
*.txt
*.docx
buildSJTU/CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_C.bin
*.bin
*.README
anni.mac
buildSJTU/CMakeFiles/2.8.12.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.log
buildSJTU/Makefile
*.dat
buildtem14/CMakeFiles/Makefile2
*.marks
buildtem14/CMakeFiles/TestEm14.dir/depend.internal
*.includecache
*.pro
tem14.pro.user
*.in
Magnetic.mat